# Course Project
## Instructions
One of the main objectives of this course is to help you gain hands-on experience in communicating insightful and impactful findings to stakeholders. In this project you will use the tools and techniques you learned throughout this course to train a few linear regressions on a data set that you feel passionate about, select the regression that best suits your needs, and communicate insights you found from your modeling exercise.

After going through some guided steps, you will have insights that either explain or predict your outcome variable. As a main deliverable, you will submit a report that helps you focus on highlighting your analytical skills and thought process. 

## Process
- Optional: find your own data set
As a suggested first step, spend some time finding a data set that you are really passionate about. This can be a data set similar to the data you have available at work or data you have always wanted to analyze. For some people this will be sports data sets, while some other folks prefer to focus on data from a datathon or data for good.

- Optional: participate in a discussion board
As an optional step, go into a discussion board and brainstorm with your peers great data sets to analyze. If you prefer to skip this step, feel free to use the Ames housing data set or the Churn phone data set that we used throughout the course.

- Required
Once you have selected a data set, you will produce the deliverables listed below and submit them to one of your peers for review. Treat this exercise as an opportunity to produce analysis that are ready to highlight your analytical skills for a senior audience, for example, the Chief Data Officer, or the Head of Analytics at your company.

### Sections required in your report:
1. Main objective of the analysis that specifies whether your model will be focused on prediction or interpretation.
1. Brief description of the data set you chose and a summary of its attributes.
1. Brief summary of data exploration and actions taken for data cleaning and feature engineering.
1. Summary of training at least three linear regression models which should be variations that cover using a simple linear regression as a baseline, adding polynomial effects, and using a regularization regression. Preferably, all use the same training and test splits, or the same cross-validation method.
1. A paragraph explaining which of your regressions you recommend as a final model that best fits your needs in terms of accuracy and explainability.
1. Summary Key Findings and Insights, which walks your reader through the main drivers of your model and insights from your data derived from your linear regression model.
1. Suggestions for next steps in analyzing this data, which may include suggesting revisiting this model adding specific data features to achieve a better explanation or a better prediction.

### The grading will center around 5 main points:
1. Does the report include a section describing the data?
1. Does the report include a paragraph detailing the main objective(s) of this analysis?  
1. Does the report include a section with variations of linear regression models and specifies which one is the model that best suits the main objective(s) of this analysis.
1. Does the report include a clear and well presented section with key findings related to the main objective(s) of the analysis?
1. Does the report highlight possible flaws in the model and a plan of action to revisit this analysis with additional data or different predictive modeling techniques? 
---

# Main Objective
__Main objective of the analysis that specifies whether your model will be focused on prediction or interpretation.__

Exoplanets are a data-rich subject where population characterizations can help provide insight into many fascinating topics including: stellar evolution, planetary evolution, habitable worlds surveying, and origins of life in the universe. From the dataset (located at `https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=PS`), regression analaysis can provide critical insights into some of these topics.

The models developed here today will be mostly focused on __Interpretation__ of the dataset.

In [1]:
# Disable warnings in Jupyter Notebook
import warnings
warnings.simplefilter("ignore")

# Import Block
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# Models and Statistics
# from scipy.stats import mstats, boxcox
# from scipy.special import inv_boxcox
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split

In [2]:
# Initial Configs
%matplotlib inline
sns.set_style()

# Constants
EXOPLANET_CSV_FILEPATH = 'data/exoplanets.csv'
COMMENT_TOKEN = '#'

# Dataset Description
__Brief description of the data set you chose and a summary of its attributes.__

I chose a dataset off of Cal Tech's Exoplanet Archive (namely: `https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=PS`) that contains statistics of some 32k exoplanet candidates (of which ~5k are confirmed). 

This datasets contains details on each of the exo-planets such as their:
- Discovery method and facility
- Scientific group that discovered this planet
- Planet orbitology
- Planet descriptive data
- Parent star's (or stars') descriptive data

This file was produced by the NASA Exoplanet Archive  http://exoplanetarchive.ipac.caltech.edu
Sun Sep  4 11:30:27 2022
<details>
<summary style="font-size:14px">View columns...</summary>
<p>

\```
- COLUMN pl_name:        Planet Name
- COLUMN hostname:       Host Name
- COLUMN pl_letter:      Planet Letter
- COLUMN hd_name:        HD ID
- COLUMN hip_name:       HIP ID
- COLUMN tic_id:         TIC ID
- COLUMN gaia_id:        GAIA ID
- COLUMN default_flag:   Default Parameter Set
- COLUMN sy_snum:        Number of Stars
- COLUMN sy_pnum:        Number of Planets
- COLUMN sy_mnum:        Number of Moons
- COLUMN cb_flag:        Circumbinary Flag
- COLUMN discoverymethod: Discovery Method
- COLUMN disc_year:      Discovery Year
- COLUMN disc_refname:   Discovery Reference
- COLUMN disc_pubdate:   Discovery Publication Date
- COLUMN disc_locale:    Discovery Locale
- COLUMN disc_facility:  Discovery Facility
- COLUMN disc_telescope: Discovery Telescope
- COLUMN disc_instrument: Discovery Instrument
- COLUMN rv_flag:        Detected by Radial Velocity Variations
- COLUMN pul_flag:       Detected by Pulsar Timing Variations
- COLUMN ptv_flag:       Detected by Pulsation Timing Variations
- COLUMN tran_flag:      Detected by Transits
- COLUMN ast_flag:       Detected by Astrometric Variations
- COLUMN obm_flag:       Detected by Orbital Brightness Modulations
- COLUMN micro_flag:     Detected by Microlensing
- COLUMN etv_flag:       Detected by Eclipse Timing Variations
- COLUMN ima_flag:       Detected by Imaging
- COLUMN dkin_flag:      Detected by Disk Kinematics
- COLUMN soltype:        Solution Type
- COLUMN pl_controv_flag: Controversial Flag
- COLUMN pl_refname:     Planetary Parameter Reference
- COLUMN pl_orbper:      Orbital Period [days]
- COLUMN pl_orbsmax:     Orbit Semi-Major Axis [au])
- COLUMN pl_rade:        Planet Radius [Earth Radius]
- COLUMN pl_radj:        Planet Radius [Jupiter Radius]
- COLUMN pl_masse:       Planet Mass [Earth Mass]
- COLUMN pl_massj:       Planet Mass [Jupiter Mass]
- COLUMN pl_msinie:      Planet Mass sin(i) [Earth Mass]
- COLUMN pl_msinij:      Planet Mass sin(i) [Jupiter Mass]
- COLUMN pl_cmasse:      Planet Mass sin(i)/sin(i) [Earth Mass]
- COLUMN pl_cmassj:      Planet Mass sin(i)/sin(i) [Jupiter Mass]
- COLUMN pl_bmasse:      Planet Mass or Mass sin(i) [Earth Mass]
- COLUMN pl_bmassj:      Planet Mass or Mass sin(i) [Jupiter Mass]
- COLUMN pl_bmassprov:   Planet Mass or Mass sin(i) Provenance
- COLUMN pl_dens:        Planet Density [g/cm^3]
- COLUMN pl_orbeccen:    Eccentricity
- COLUMN pl_insol:       Insolation Flux [Earth Flux]
- COLUMN pl_eqt:         Equilibrium Temperature [K]
- COLUMN pl_orbincl:     Inclination [deg]
- COLUMN pl_tranmid:     Transit Midpoint [days]
- COLUMN pl_tsystemref:  Time Reference Frame and Standard
- COLUMN ttv_flag:       Data show Transit Timing Variations
- COLUMN pl_imppar:      Impact Parameter
- COLUMN pl_trandep:     Transit Depth [%]
- COLUMN pl_trandur:     Transit Duration [hours]
- COLUMN pl_ratdor:      Ratio of Semi-Major Axis to Stellar Radius
- COLUMN pl_ratror:      Ratio of Planet to Stellar Radius
- COLUMN pl_occdep:      Occultation Depth [%]
- COLUMN pl_orbtper:     Epoch of Periastron [days]
- COLUMN pl_orblper:     Argument of Periastron [deg]
- COLUMN pl_rvamp:       Radial Velocity Amplitude [m/s]
- COLUMN pl_projobliq:   Projected Obliquity [deg]
- COLUMN pl_trueobliq:   True Obliquity [deg]
- COLUMN st_refname:     Stellar Parameter Reference
- COLUMN st_spectype:    Spectral Type
- COLUMN st_teff:        Stellar Effective Temperature [K]
- COLUMN st_rad:         Stellar Radius [Solar Radius]
- COLUMN st_mass:        Stellar Mass [Solar mass]
- COLUMN st_met:         Stellar Metallicity [dex]
- COLUMN st_metratio:    Stellar Metallicity Ratio
- COLUMN st_lum:         Stellar Luminosity [log(Solar)]
- COLUMN st_logg:        Stellar Surface Gravity [log10(cm/s^2)]
- COLUMN st_age:         Stellar Age [Gyr]
- COLUMN st_dens:        Stellar Density [g/cm^3]
- COLUMN st_vsin:        Stellar Rotational Velocity [km/s]
- COLUMN st_rotp:        Stellar Rotational Period [days]
- COLUMN st_radv:        Systemic Radial Velocity [km/s]
- COLUMN sy_refname:     System Parameter Reference
- COLUMN rastr:          RA [sexagesimal]
- COLUMN ra:             RA [deg]
- COLUMN decstr:         Dec [sexagesimal]
- COLUMN dec:            Dec [deg]
- COLUMN glat:           Galactic Latitude [deg]
- COLUMN glon:           Galactic Longitude [deg]
- COLUMN elat:           Ecliptic Latitude [deg]
- COLUMN elon:           Ecliptic Longitude [deg]
- COLUMN sy_pm:          Total Proper Motion [mas/yr]
- COLUMN sy_pmra:        Proper Motion (RA) [mas/yr]
- COLUMN sy_pmdec:       Proper Motion (Dec) [mas/yr]
- COLUMN sy_dist:        Distance [pc]
- COLUMN sy_plx:         Parallax [mas]
- COLUMN sy_bmag:        B (Johnson) Magnitude
- COLUMN sy_vmag:        V (Johnson) Magnitude
- COLUMN sy_jmag:        J (2MASS) Magnitude
- COLUMN sy_hmag:        H (2MASS) Magnitude
- COLUMN sy_kmag:        Ks (2MASS) Magnitude
- COLUMN sy_umag:        u (Sloan) Magnitude
- COLUMN sy_gmag:        g (Sloan) Magnitude
- COLUMN sy_rmag:        r (Sloan) Magnitude
- COLUMN sy_imag:        i (Sloan) Magnitude
- COLUMN sy_zmag:        z (Sloan) Magnitude
- COLUMN sy_w1mag:       W1 (WISE) Magnitude
- COLUMN sy_w2mag:       W2 (WISE) Magnitude
- COLUMN sy_w3mag:       W3 (WISE) Magnitude
- COLUMN sy_w4mag:       W4 (WISE) Magnitude
- COLUMN sy_gaiamag:     Gaia Magnitude
- COLUMN sy_icmag:       I (Cousins) Magnitude
- COLUMN sy_tmag:        TESS Magnitude
- COLUMN sy_kepmag:      Kepler Magnitude
- COLUMN rowupdate:      Date of Last Update
- COLUMN pl_pubdate:     Planetary Parameter Reference Publication Date
- COLUMN releasedate:    Release Date
- COLUMN pl_nnotes:      Number of Notes
- COLUMN st_nphot:       Number of Photometry Time Series
- COLUMN st_nrvc:        Number of Radial Velocity Time Series
- COLUMN st_nspec:       Number of Stellar Spectra Measurements
- COLUMN pl_nespec:      Number of Emission Spectroscopy Measurements
- COLUMN pl_ntranspec:   Number of Transmission Spectroscopy Measurements
\```

</p></details>

In [3]:
exoplanet_raw_df = pd.read_csv(EXOPLANET_CSV_FILEPATH, comment=COMMENT_TOKEN)
print(exoplanet_raw_df.shape)
exoplanet_raw_df.head()

(33142, 121)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,sy_kepmag,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,NaN,2014-05-14,2008-01,2014-05-14,2.0,1.0,2.0,0.0,0.0,0.0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,NaN,2014-07-23,2011-08,2014-07-23,2.0,1.0,2.0,0.0,0.0,0.0
2,3,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,...,NaN,2018-09-04,2017-03,2018-09-06,0.0,1.0,1.0,0.0,0.0,0.0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,2018-04-25,2009-10,2014-05-14,0.0,1.0,1.0,0.0,0.0,0.0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,2018-04-25,2011-08,2014-07-23,0.0,1.0,1.0,0.0,0.0,0.0

Looks like there's just over 33k rows, each with 121 columns in the `<pd.DataFrame exoplanet_raw_df>` object. That's a considerable amount of data, and there are features that are probably not super important to keep around. Let's move onto the next section and perform some Exploratory Data Analysis to render this all more useful!

# Exploratory Data Anlysis
__Brief summary of data exploration and actions taken for data cleaning and feature engineering.__

First step is to drop columns that are redundant, excessively null, or identified via domain knowledge to be not pertinent to understanding the exoplanets or their host stars in the set. An example of clearly irrelevant information for interpretation of the data would be the catalog IDs. An example of redundant information in this dataset is the the planet size represented in Earth radius and Jupiter radius, as there is a known and constant scalar between the two (the reason for the two different representations of the same information isn't fully obvious, but it's likely due to a combination of scale, discovery method, and source observatory conventions). Here, it will also be assumed that whatever correlations exist between the data and the observatory, discovery method, etc. will be captured in the respective error limits

Print all the keys...

In [4]:
print(list(exoplanet_raw_df.keys()))

['rowid', 'pl_name', 'hostname', 'pl_letter', 'hd_name', 'hip_name', 'tic_id', 'gaia_id', 'default_flag', 'sy_snum', 'sy_pnum', 'sy_mnum', 'cb_flag', 'discoverymethod', 'disc_year', 'disc_refname', 'disc_pubdate', 'disc_locale', 'disc_facility', 'disc_telescope', 'disc_instrument', 'rv_flag', 'pul_flag', 'ptv_flag', 'tran_flag', 'ast_flag', 'obm_flag', 'micro_flag', 'etv_flag', 'ima_flag', 'dkin_flag', 'soltype', 'pl_controv_flag', 'pl_refname', 'pl_orbper', 'pl_orbsmax', 'pl_rade', 'pl_radj', 'pl_masse', 'pl_massj', 'pl_msinie', 'pl_msinij', 'pl_cmasse', 'pl_cmassj', 'pl_bmasse', 'pl_bmassj', 'pl_bmassprov', 'pl_dens', 'pl_orbeccen', 'pl_insol', 'pl_eqt', 'pl_orbincl', 'pl_tranmid', 'pl_tsystemref', 'ttv_flag', 'pl_imppar', 'pl_trandep', 'pl_trandur', 'pl_ratdor', 'pl_ratror', 'pl_occdep', 'pl_orbtper', 'pl_orblper', 'pl_rvamp', 'pl_projobliq', 'pl_trueobliq', 'st_refname', 'st_spectype', 'st_teff', 'st_rad', 'st_mass', 'st_met', 'st_metratio', 'st_lum', 'st_logg', 'st_age', 'st_dens', 'st_vsin', 'st_rotp', 'st_radv', 'sy_refname', 'rastr', 'ra', 'decstr', 'dec', 'glat', 'glon', 'elat', 'elon', 'sy_pm', 'sy_pmra', 'sy_pmdec', 'sy_dist', 'sy_plx', 'sy_bmag', 'sy_vmag', 'sy_jmag', 'sy_hmag', 'sy_kmag', 'sy_umag', 'sy_gmag', 'sy_rmag', 'sy_imag', 'sy_zmag', 'sy_w1mag', 'sy_w2mag', 'sy_w3mag', 'sy_w4mag', 'sy_gaiamag', 'sy_icmag', 'sy_tmag', 'sy_kepmag', 'rowupdate', 'pl_pubdate', 'releasedate', 'pl_nnotes', 'st_nphot', 'st_nrvc', 'st_nspec', 'pl_nespec', 'pl_ntranspec']

Analyzing the columns listed above for their value in understanding the dataset, the following were identified to be kept and explored over:
```
['pl_name', 'sy_snum', 'sy_pnum', 'sy_mnum', 'cb_flag', 'pl_orbper', 'pl_orbsmax', 'pl_rade', 'pl_radj', 'pl_masse', 'pl_massj', 'pl_msinie', 'pl_msinij', 'pl_cmasse', 'pl_cmassj', 'pl_bmasse', 'pl_bmassj', 'pl_bmassprov', 'pl_dens', 'pl_orbeccen', 'pl_insol', 'pl_eqt', 'pl_orbincl', 'pl_imppar', 'pl_trandep', 'pl_trandur', 'pl_ratdor', 'pl_ratror', 'pl_occdep', 'pl_orbtper', 'pl_orblper', 'pl_rvamp', 'pl_projobliq', 'pl_trueobliq', 'st_spectype', 'st_teff', 'st_rad', 'st_mass', 'st_met', 'st_metratio', 'st_lum', 'st_logg', 'st_age', 'st_dens', 'st_vsin', 'st_rotp', 'st_radv', 'rastr', 'ra', 'decstr', 'dec', 'glat', 'glon', 'elat', 'elon', 'sy_pm', 'sy_pmra', 'sy_pmdec', 'sy_dist', 'sy_plx', 'rowupdate']
```

In [10]:
# Features to keep for analysis, as determined by relevance to regression interpretation objectives
feature_keep_list = ['pl_name', 'sy_snum', 'sy_pnum', 'sy_mnum', 'cb_flag', 'pl_orbper', 'pl_orbsmax', 'pl_rade', 'pl_radj', 'pl_masse', 'pl_massj', 'pl_msinie', 'pl_msinij', 'pl_cmasse', 'pl_cmassj', 'pl_bmasse', 'pl_bmassj', 'pl_orbeccen', 'pl_insol', 'pl_eqt', 'pl_orbincl', 'pl_imppar', 'pl_trandep', 'pl_trandur', 'pl_ratdor', 'pl_ratror', 'pl_occdep', 'pl_orbtper', 'pl_orblper', 'pl_rvamp', 'pl_projobliq', 'pl_trueobliq', 'st_spectype', 'st_teff', 'st_rad', 'st_mass', 'st_met', 'st_metratio', 'st_lum', 'st_logg', 'st_age', 'st_dens', 'st_vsin', 'st_rotp', 'st_radv', 'rastr', 'ra', 'decstr', 'dec', 'glat', 'glon', 'elat', 'elon', 'sy_pm', 'sy_pmra', 'sy_pmdec', 'sy_dist', 'sy_plx', 'rowupdate']

exoplanet_df = exoplanet_raw_df.filter(feature_keep_list, axis=1)
print(exoplanet_df.shape)
exoplanet_df.head()

(33142, 59)

,pl_name,sy_snum,sy_pnum,sy_mnum,cb_flag,pl_orbper,pl_orbsmax,pl_rade,pl_radj,pl_masse,...,glat,glon,elat,elon,sy_pm,sy_pmra,sy_pmdec,sy_dist,sy_plx,rowupdate
0,11 Com b,2,1,0,0,326.03000,1.29,NaN,NaN,NaN,...,78.28058,264.13775,18.33392,177.42177,140.383627,-109.24100,88.1701,93.1846,10.71040,2014-05-14
1,11 Com b,2,1,0,0,NaN,1.21,NaN,NaN,NaN,...,78.28058,264.13775,18.33392,177.42177,140.383627,-109.24100,88.1701,93.1846,10.71040,2014-07-23
2,11 UMi b,1,1,0,0,516.21997,1.53,NaN,NaN,NaN,...,41.04437,108.71900,74.95821,141.64699,10.679019,3.42996,10.1132,125.3210,7.95388,2018-09-04
3,11 UMi b,1,1,0,0,516.22000,1.54,NaN,NaN,NaN,...,41.04437,108.71900,74.95821,141.64699,10.679019,3.42996,10.1132,125.3210,7.95388,2018-04-25
4,11 UMi b,1,1,0,0,NaN,1.51,NaN,NaN,NaN,...,41.04437,108.71900,74.95821,141.64699,10.679019,3.42996,10.1132,125.3210,7.95388,2018-04-25

In [11]:
# drop excessively negative columns
col_nan_drop_threshold = int(exoplanet_df.shape[0] / 2.0)
for col in exoplanet_df:
    nan_count = exoplanet_df[col].isna().sum()
    if nan_count > col_nan_drop_threshold:
        exoplanet_df = exoplanet_df.drop(col, axis=1)
        print(f'{col}:  {nan_count} (dropped)')
    else:
        print(f'{col}: {nan_count}')

pl_name: 0
sy_snum: 0
sy_pnum: 0
sy_mnum: 0
cb_flag: 0
pl_orbper: 2854
pl_orbsmax: 14895
pl_rade: 9913
pl_radj:  22746 (dropped)
pl_masse:  30290 (dropped)
pl_massj:  30290 (dropped)
pl_msinie:  31115 (dropped)
pl_msinij:  31116 (dropped)
pl_cmasse:  33051 (dropped)
pl_cmassj:  33051 (dropped)
pl_bmasse:  28366 (dropped)
pl_bmassj:  28367 (dropped)
pl_orbeccen: 16451
pl_insol:  18910 (dropped)
pl_eqt:  17878 (dropped)
pl_orbincl:  17739 (dropped)
pl_imppar:  17316 (dropped)
pl_trandep: 16290
pl_trandur: 12604
pl_ratdor:  17606 (dropped)
pl_ratror: 14877
pl_occdep:  33101 (dropped)
pl_orbtper:  31826 (dropped)
pl_orblper:  30794 (dropped)
pl_rvamp:  29687 (dropped)
pl_projobliq:  32993 (dropped)
pl_trueobliq:  33118 (dropped)
st_spectype:  31213 (dropped)
st_teff: 1899
st_rad: 1786
st_mass: 4901
st_met: 11903
st_metratio: 12168
st_lum:  24679 (dropped)
st_logg: 5455
st_age:  26416 (dropped)
st_dens: 13806
st_vsin:  30842 (dropped)
st_rotp:  32562 (dropped)
st_radv:  31908 (dropped)
rastr: 26
ra: 26
decstr: 26
dec: 26
glat: 26
glon: 26
elat: 26
elon: 26
sy_pm: 549
sy_pmra: 549
sy_pmdec: 549
sy_dist: 818
sy_plx: 1971
rowupdate: 27

In [12]:
exoplanet_df = exoplanet_df.dropna()

print(exoplanet_df.shape)
exoplanet_df.head()

(10077, 33)

,pl_name,sy_snum,sy_pnum,sy_mnum,cb_flag,pl_orbper,pl_orbsmax,pl_rade,pl_orbeccen,pl_trandep,...,glat,glon,elat,elon,sy_pm,sy_pmra,sy_pmdec,sy_dist,sy_plx,rowupdate
204,CoRoT-10 b,1,1,0,0,13.24060,0.1055,10.87,0.53,1.61036,...,-6.95299,37.36069,22.52660,292.89599,22.958590,-3.196350,-22.73500,338.386,2.92694,2014-05-14
208,CoRoT-11 b,1,1,0,0,2.99433,0.0436,16.03,0.00,1.14490,...,4.63005,37.24009,28.92669,282.16613,5.581887,1.918730,-5.24175,655.037,1.50071,2014-05-14
225,CoRoT-16 b,1,1,0,0,5.35227,0.0618,13.11,0.33,1.02000,...,1.10110,25.61433,17.17439,278.87636,8.097611,0.936538,-8.04327,732.409,1.34056,2014-05-14
309,CoRoT-8 b,1,1,0,0,6.21229,0.0630,6.39,0.00,0.65100,...,-7.10426,38.21286,23.11609,293.57414,35.483344,13.576800,-32.78320,322.037,3.07662,2014-05-14
314,CoRoT-9 b,2,1,0,0,95.27380,0.4070,11.77,0.11,1.55000,...,4.66217,37.52335,29.18378,282.30457,20.784067,-14.471000,-14.91870,412.980,2.39295,2017-12-12

In [7]:
exoplanet_df.describe()

,rowid,default_flag,sy_snum,sy_pnum,sy_mnum,cb_flag,disc_year,rv_flag,pul_flag,ptv_flag,...,sy_gaiamag,sy_icmag,sy_tmag,sy_kepmag,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
count,33142.000000,33142.000000,33142.000000,33142.000000,33142.0,33142.000000,33142.000000,33126.000000,33126.000000,33126.00000,...,32406.000000,45.000000,32698.000000,28273.000000,33116.000000,33116.000000,33116.000000,33116.000000,33116.000000,33116.000000
mean,16571.500000,0.153401,1.078179,1.866725,0.0,0.002142,2015.048941,0.202318,0.000362,0.00006,...,13.549282,22.495844,12.997508,14.168735,0.998158,0.465394,0.195646,0.112514,0.200356,1.048798
std,9567.415647,0.360379,0.295733,1.187809,0.0,0.046236,3.524628,0.401734,0.019030,0.00777,...,2.253875,5.099006,2.226153,1.401408,0.989037,3.816947,0.896912,0.796618,2.819121,10.478841
min,1.000000,0.000000,1.000000,1.000000,0.0,0.000000,1989.000000,0.000000,0.000000,0.00000,...,2.926270,17.130000,-1.200000,5.973000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8286.250000,0.000000,1.000000,1.000000,0.0,0.000000,2014.000000,0.000000,0.000000,0.00000,...,12.754900,19.000000,12.244900,13.429000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,16571.500000,0.000000,1.000000,1.000000,0.0,0.000000,2016.000000,0.000000,0.000000,0.00000,...,14.161000,21.390000,13.601600,14.472000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,24856.750000,0.000000,1.000000,2.000000,0.0,0.000000,2016.000000,0.000000,0.000000,0.00000,...,15.108100,23.430000,14.529300,15.223000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,33142.000000,1.000000,4.000000,8.000000,0.0,1.000000,2022.000000,1.000000,1.000000,1.00000,...,20.186100,37.240000,19.286900,17.475000,16.000000,70.000000,12.000000,13.000000,111.000000,201.000000

# Regression Models
Summary of training at least three linear regression models which should be variations that cover using a simple linear regression as a baseline, adding polynomial effects, and using a regularization regression. Preferably, all use the same training and test splits, or the same cross-validation method.

# Recommendation
1. A paragraph explaining which of your regressions you recommend as a final model that best fits your needs in terms of accuracy and explainability.

# Key Findings and Insights
1. Summary Key Findings and Insights, which walks your reader through the main drivers of your model and insights from your data derived from your linear regression model.

# Next Steps
1. Suggestions for next steps in analyzing this data, which may include suggesting revisiting this model adding specific data features to achieve a better explanation or a better prediction.